.home {
    margin-top: 120px;

    &__title {
        margin: 20px;
        font-size: 2.9rem;
        font-weight: bold;
        text-align: left;

        &--rightAlign {
            font-size: 2.9rem;
            font-weight: bold;
            margin: 20px;
            margin-top: 0px;
            text-align: right;
        }

        &--blue {
            margin: 0;
            color: #4AADFF;
        }
    }

    &__text {
        text-align: left;
        margin: 20px;
        font-size: 1.2rem;
        color: rgb(75, 75, 75);
        vertical-align: middle;

        &--big {
            font-size: 1.8rem;
            color: black;
        }

        &--rightAlign {
            font-size: 1.2rem;
            margin: 0 20px;
            text-align: right;
            padding-bottom: 20px;
        }

        &--withIcon {
            display: flex;
            align-items: center;
            margin-top: -20px;
            gap: 1rem;
        }
    }

    &__image {
        display: grid;
        grid-template-rows: repeat(20, 1fr);
        grid-template-columns: repeat(20, 1fr);
        gap: 2px;
        // background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
        background-size: cover;
        background-position: center;
        aspect-ratio: 1;
        animation: bkgImageAnimation 18s infinite ease-in-out;
        margin-bottom: 10px;

        @keyframes bkgImageAnimation {

            0% {
                opacity: 1;
                background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
            }

            22% {
                opacity: 1;
                background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
            }

            27% {
                opacity: 0;
                background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
            }

            28% {
                opacity: 0;
                background-image: url(../../image/patekPhilippe2.jpg);
            }

            33% {
                opacity: 1;
                background-image: url(../../image/patekPhilippe2.jpg);
            }

            55% {
                opacity: 1;
                background-image: url(../../image/patekPhilippe2.jpg);
            }

            60% {
                opacity: 0;
                background-image: url(../../image/patekPhilippe2.jpg);
            }

            61% {
                opacity: 0;
                background-image: url(../../image/maillot2.jpg);
            }

            66% {
                opacity: 1;
                background-image: url(../../image/maillot2.jpg);
            }

            89% {
                opacity: 1;
                background-image: url(../../image/maillot2.jpg);
            }

            94% {
                opacity: 0;
                background-image: url(../../image/maillot2.jpg);
            }

            95% {
                opacity: 0;
                background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
            }

            100% {
                opacity: 1;
                background-image: url(../../image/Once_Krugerrand_Or_Face.jpg);
            }

        }

        &-item {
            outline: solid white 2px;
        }

    }


}

.blueBackground {
    margin-top: 2px;
    background-color: #2b385A;
    color: white;

    button {
        border: none;
        background-color: #4AADFF;

        background-image:
            linear-gradient(to right, #2b385a 3px, transparent 1px),
            linear-gradient(to bottom, #2b385a 3px, transparent 1px);
        background-size: 20px 20px;
        background-position: 0 0, 0 0;

        color: white;
        font-family: 'Quantico', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        width: calc(100vw - 40px);
        margin: 20px;
        height: 80px;
        text-shadow: 0px 0px 10px #4AADFF;

        transition: all .2s;

        &:hover {
            transition: all .2s;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);

        }
    }
}

@media (min-width: 721px) {
    .home {
        button {
            width: 50%
        }

        &__text,
        &__title {
            text-align: center;
            font-size: 3.5rem;

            &--rightAlign {
                text-align: center;
                font-size: 3.5rem;

            }

            &--withIcon {
                justify-content: center;
            }
        }

        &__text {
            font-size: 1.2rem;

            &--rightAlign {
                text-align: center;
                font-size: 1.2rem
            }

        }

        &__image {
            width: 30%;
            margin: 0 auto;
        }
    }
}