.request {
    margin-top: 120px;

    &__nftList {
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px;

            &--img {
                aspect-ratio: 1;
                height: 40px;
            }
        }
    }
}