.menuApp {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.8rem;
    z-index: 1;
    position: fixed;
    top: 80px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;

    @media (max-width : 721px) {
        font-size: 1.4rem;
    }

    &__item {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: #101010;
            font-weight: bold;
            transition: all .2s;
            box-shadow: inset 0px -10px 5px -10px black;

        }


        Link,
        div {
            text-decoration: none;
            color: white;


        }

    }

    div:first-child {
        padding-top: 3rem;
    }

    div:last-child {
        padding-bottom: 3rem;
    }

}