.menuApp {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.8rem;
    z-index: 1;
    position: fixed;
    top: 100px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__item {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;

        Link {
            text-decoration: none;
            color: white;

        }

    }

    div:first-child {
        padding-top: 3rem;
    }

    div:last-child {
        padding-bottom: 3rem;
    }

}